{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{name}} Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/fonts.css' %}" rel='stylesheet'>

    <!--    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
    <!--    <script>-->
    <!--            localStorage.setItem('activeTab', '#1b');-->
    <!--    </script>-->
</head>
<body id="top">
<div id="cv" class="instaFade">

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <button id="resume_btn" style="float:right;display:none" onclick="showBlogs(this.id)"><a
                        class="btn btn-primary" href="#">Resume</a></button>
                <button id="blog_btn" style="float:right;" onclick="showBlogs(this.id)"><a class="btn btn-primary"
                                                                                           href="#">My Blog</a></button>
            </div>
            <div class="col-lg-4">
                <button style="float:right"><a class="btn btn-primary" href="{% url 'resumes:edit' %}">Edit</a></button>
            </div>
            <div class="col-lg-4">
                <button style="float:right"><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="mainDetails">

        <!--        <div id="headshot" class="">-->
        <!--            <img src="{% static 'images/ashok.jpg' %}" alt="Alan Smith"/>-->
        <!--        </div>-->
        <div id="name">
            <h1 class="c_name">{{name}}</h1>
            <h2 class="c_name">{{job_title}}</h2>
             <h1 class="c_name" id="blog_title" style="display:none;margin-left: 60%;margin-bottom: -5%;margin-top: 5%;">My Blog</h1>
        </div>

        <div id="contactDetails" class=" ">
            <ul>
                <li>Email: <a href="#">
                    <target
                    ="_blank">{{email}}</a></li>
                <li>Contact: <a href="http://www.bloggs.com">{{contact}}</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div>

        <div id="mainArea" class=" ">
            <div id="blog" style="display:none" class=" ">
                <!--                <H1 class="c_name" style="color:#48337c">My Blog</H1>-->
                {% for post in posts %}
                <section>
                    <article>
                        <div class="sectionTitle" style="width:100%">
                            <h1>{{post.0}}</h1>
                        </div>

                        <div class="sectionContent" style="width: 98%;">
                            <p>{{post.1}}</p>
                        </div>
                    </article>
                    <div class="clear"></div>
                </section>
                {% endfor %}
            </div>
            <div id="resume">
                <section>
                    <article>
                        <div class="sectionTitle">
                            <h1>Personal Profile</h1>
                        </div>

                        <div class="sectionContent">
                            <p>{{personal_profile}}</p>
                        </div>
                    </article>
                    <div class="clear"></div>
                </section>
                {% if work_experience %}
                <section>
                    <div class="sectionTitle">
                        <h1>Work Experience</h1>
                    </div>

                    <div class="sectionContent">
                        {% for work in work_experience %}
                        <article>
                            <h2 class="c_name">{{work.company_name}}</h2>
                            <p class="subDetails">{{work.start}} - {{work.end}}</p>
                            <!--					<h3 class="c_name">Responsibility</h3>-->
                            <ul>
                                {% for r in work.responsibility %}
                                <p>{{r}}</p>
                                {% endfor %}
                            </ul>
                        </article>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </section>
                {% endif %}

                {% if key_skills %}
                <section>
                    <div class="sectionTitle">
                        <h1>Key Skills</h1>
                    </div>

                    <div class="sectionContent">
                        <ul class="keySkills">
                            {% for skill in key_skills %}
                            <li>{{skill}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </section>
                {% endif %}

                {% if education %}
                <section>
                    <div class="sectionTitle">
                        <h1>Education</h1>
                    </div>

                    <div class="sectionContent">
                        <table>
                            <tr>
                                <th>College/School</th>
                                <th>University</th>
                                <th>Qualification</th>
                                <th>Start</th>
                                <th>end</th>
                                <th>Percentage</th>
                            </tr>
                            {% for ed in education %}
                            <tr>
                                <td>{{ed.college_name}}</td>
                                <td class="c_name">{{ed.university}}</td>
                                <td class="c_name">{{ed.percentage}} %</td>
                                <td class="c_name">{{ed.qualification}}</td>
                                <td>{{ed.start}}</td>
                                <td>{{ed.end}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>

                    </article>

                    <div class="clear"></div>
                </section>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<script>
    function showBlogs(id){
    console.log(id)
        var blog = document.getElementById('blog');
        var resume = document.getElementById('resume');
        var resume_btn = document.getElementById('resume_btn');
        var blog_btn = document.getElementById('blog_btn');
        if(id=="blog_btn"){
            blog.style.display='block';
            resume.style.display='none';
            resume_btn.style.display='block';
            blog_btn.style.display='none';
            blog_title.style.display='block';
        }
        else if (id=="resume_btn"){
            blog.style.display='none';
            resume.style.display='block';
            resume_btn.style.display='none';
            blog_btn.style.display='block';
            blog_title.style.display='none';
        }


    }

</script>
</body>
</html>